<nav>
    <ul>
        <div style="font-size: 1.5em;">
            <a href="/">
                <li>Solace</li>
            </a>
        </div>
        <div><a href="/filter/men">
                <li>Men</li>
            </a>
            <a href="/filter/women">
                <li>Women</li>
            </a>
            <a href="/filter/color">
                <li>Color</li>
            </a>
            <a href="/filter/brand">
                <li>Brand</li>
            </a>
        </div>
    </ul>
</nav>